<h2>Search Movie</h2>
<mat-spinner *ngIf="!Movies"></mat-spinner>

<form [formGroup]="SearchMovieForm" *ngIf="Movies">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="Title" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genreID">
            <mat-option [value]="0">--Select Genre--</mat-option>
            <mat-option *ngFor="let item of Genres" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName="commingSoon"> Comming Soon </mat-checkbox>
    </div>

    <div>
        <mat-checkbox formControlName="onTheaters"> Now in Theaters </mat-checkbox>
    </div>

    <div class="clean-container">
        <button mat-flat-button (click)="CleanFilters()" color="warn">Clean</button>
    </div>

</form>
<app-list-movies [Movies]="Movies"></app-list-movies>
<mat-paginator [length]="TotalRecords" [pageSize]="recordsToshow" [pageSizeOptions]="[5,10,20]" (page)="UpdatePagination($event)"></mat-paginator>
