<app-show-errors [frmErrors]="frmErrors"></app-show-errors>
<form [formGroup]="form" (submit)="KeepChanges()">

    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput required/>
        <mat-error>
            The field Name is required
        </mat-error>
    </mat-form-field>

    <div class="CheckBox-Container">
        <mat-checkbox formControlName="onTheater">On theater</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput />
    </mat-form-field>



    <mat-form-field appearance="outline">
        <mat-label>Release Date</mat-label>
        <input formControlName="releaseDate" matInput [matDatepicker]="ReleaseDatePicker" matInput />
        <mat-datepicker-toggle matSuffix [for]="ReleaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #ReleaseDatePicker></mat-datepicker>
    </mat-form-field>


    <h4>Select Image</h4>
    <app-upload-images [UrlImage]="model?.img" (uploadFile)="uploadFile($event)"></app-upload-images>
    <h4>Information:</h4>
    <app-mark-down-input [MarkDownContent]="model?.info" [placeholderTextAre]="'Information'" (TextAreaChange)="changeMarkDown($event)"></app-mark-down-input>

    <h4>Genres</h4>
    <app-multiple-selector [Selected]=" SelectedGenres" [NoSelected]=" NoSelectedGenres"></app-multiple-selector>

    <h4>Theaters</h4>
    <app-multiple-selector [Selected]=" SelectedTheaters" [NoSelected]=" NoSelectedTheaters"></app-multiple-selector>

    <h4>Actors</h4>
    <app-auto-complete-actors [selectedActors]="selectedActors"></app-auto-complete-actors>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid"> Save </button>
        <a mat-stroked-button routerLink="/" color="warn">Cancel</a>
    </div>
</form>