.NavBarPrincipal {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background-color: #AB1A25;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: #E1D39E;
}

app-authorized {
    display: flex;
}

.space {
    flex: 1 1 auto;
}