<app-generic-list [elementsToList]="Movies">
    <ng-container contenedor>
        <div class="Movies-container">

            <div *ngFor="let movie of Movies; let index=index" class="Movie-container">
                <a [routerLink]="'Movie/'+movie.id">
                    <img [src]="movie.img" alt="Movie Poster" />
                </a>
                <p>
                    <a>
                        <a [routerLink]="'Movie/'+movie.id">{{movie.title}}</a>
                    </a>
                </p>
                <div>
                    <a mat-flat-button color="primary" [routerLink]="'Movie/Edit/'+movie.id">Edit</a>
                    <button mat-flat-button color="warn" type="button" [swal]="{title:'Confirmation',text:'Are you sure do you want to delete this Movie?',
                    showCancelButton:true}" (confirm)="delete(movie.id)">Delete</button>
                </div>
            </div>
        </div>

    </ng-container>
</app-generic-list>
